@import '../../styles//theme.less';

.FB-MakeButton{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: @primary-color;
    width: 2.8em;
    padding: 0.5em;
    border-radius: 5em;
    transition: ease-in-out background 1000ms;
    cursor: pointer!important;
    transition: ease-in-out width 500ms;
}

.FB-MakeButton{
    position: fixed;
    bottom: 5em;
    right: 1em;
}

.FB-MakeButton:hover{
    background: rgb(19, 19, 19);
    transition: ease-in-out background 1000ms;
    width: 7.7em;
    transition: ease-in-out width 500ms;
}

.FB-MarginRight{
    margin-right: 0.5em;
}

.FB-BoldTextColor{
    color: white!important;
    font-weight: bold;
    margin: 0;
}