@import '../../styles/theme.less';

.ED-Container{
    text-align: center;
}

.ED-Container > h1{
    font-weight: bold;
    color: @primary-color!important;
    font-size: 3em;
}

.ED-Container > div > h2{
    font-weight: bold;
    color: @primary-color!important;
    font-size: 1.5em;
    margin: 0;
    display: flex;
    justify-content: start;
}

.ED-Container > div > span{
    color: @primary-color!important;
}

.ED-FluidImg{
    height: 100%;
    width: 100%;
}

.ED-Ul{
    color: @primary-color!important;
    padding-left: 1.5em;
}

.ED-Li{
    display: flex;
    justify-content: start;
}

.ED-FooterMarketer{
    background: #FF4F5B;
    padding: 1em;
    margin-bottom: 3em;
    width: 100%;
}

.ED-Container > .ED-FooterMarketer > h2{
    color: @white-color!important;
    display: flex;
    justify-content: flex-end;
}

.ED-AvatarContainer{
    max-width: 6em;
    max-height: 6em;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
}
