// //Colors
@black-color: #000;
@gray-color: #eeeeee;
@red-color: #ff1765;
@purple-color: #640053;
@white-color: #fff;

// // Opacities
@gray-opacity-color: rgba(226, 232, 240, 0.9);

// //Fonts
@lato-font: 'Lato', sans-serif;
@lora-font: 'Lora', serif;

@primary-color: #c41d7f;
